.test {
    border-style: solid;
}

.header {
    color: #ffffff7a;
}

.info {
    font-size: 0.75rem;
}

@media (max-width: 800px) {
    .table-responsive {
        font-size: 10px !important;
    }
}
