.grid-container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "owners owners"
    "owner-pane regular-season"
    "owner-pane regular-season"
    "owner-pane postseason"
    "owner-pane postseason"
    "historic historic";
  grid-template-rows: 8% repeat(5, 1fr);
}

.grid-item {
  margin: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border: none;
}

.owners-list {
  grid-area: owners;
  padding: 20px;
}

.owner-pane {
  grid-area: owner-pane;
}

.regular-season {
  grid-area: regular-season;
}

.postseason {
  grid-area: postseason;
}

.historic {
  grid-area: historic;
}

.card {
  height: 100%;
}

.lower-row {
  margin-top: 0.05%;
}

.owner-pane-info-card {
  border: none;
  background-color: #343a40;
}

.owner-pane {
  background-color: #343a40;
  color: #fff;
}

.owner-pane-header {
  font-weight: bold;
}

.owner-pane-column {
  display: flex;
  flex-direction: column;
}

.owner-pane-column > div {
  flex: 1;
}
